NODE_ENV=development

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=there-go-the-@email.com
SMTP_PASSWORD=smpt-password

REDIS_URL=redis://localhost:6379

DATABASE_URL=postgresql://username:password@localhost:5432/just_say
