PORT=3001
NODE_ENV=development

CLIENT_URL=http://localhost:3000
DATABASE_URL=postgresql://username:password@localhost:5432/just_say

ACCESS_TOKEN_SECRET=your-32-byte-random-secret-generated-with-randomBytes
ACCESS_TOKEN_EXPIRES_IN=15m
SESSION_TTL=10d

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=there-go-the-@email.com
SMTP_PASSWORD=smpt-password

REDIS_URL=redis://localhost:6379
